<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img/logo2.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
    </span>

    <span class="title-group">
        <a mat-list-item  routerLink="/customer">
            <i class="material-icons">
                storefront
            </i>
           Cadidatos
        </a>
    </span>

    <span class="title-group">
        <a mat-list-item  routerLink="/supplier">
            <i class="material-icons">
                inventory
            </i>
            Processo Seletivos
        </a>
        
    </span>
</mat-toolbar>

